#characters {
	text-align: center;
	font-size: 32px;
	color: #07AA9E;
	font-family: Impact, Charcoal, sans-serif;

	margin: 5px auto 5px auto;
	border: 5px solid black;
	border-radius: 20px;
	height: 440px;
	width: 350px;
	background-color: #337277;
}